.badge, .color-badge {
  min-width: 24px;
  width: max-content;
  height: 24px;
  border-radius: 4px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  background-color: var(--gray-50);
  color: var(--main-black);
}
.color-badge {
  background-color: var(--primary-300);
  color: var(--primary-550);
  border-radius: 999px;
  height: 20px;
}

.badge-fixed {
  width: 24px;
}