/* [main card]------------------------------------------------------ */
.card-family {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 100%;
}
.card-family .card {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.card-cover {
  width: 100%;
  border-radius: 16px;
  background-color: var(--main-white);
  overflow: hidden;
  display: flex;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card__info-headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card__info-eyebrow,
.card__info-title,
.card__info-description,
.card__info-date {
  line-height: 1.4;
  letter-spacing: -0.02em;
}
.card__info-title,
.card__info-description {
  white-space: normal;
  overflow: hidden; 
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.card__info-eyebrow {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 400;
}
.card__info-title {
  color: var(--main-black);
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  -webkit-line-clamp: 2;
}
.card__info-description {
  color: var(--gray-700);
  font-size: 14px;
  font-weight: 400;
}
.card__info-date {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 400;
}
.card.type-1 img,
.card.type-2 img,
.card.type-3 img {
  height: auto;
  contain: strict;
  object-fit: cover;
  object-position: center;
}
.card.type-1,
.card.type-3 {
  .card-cover {
    flex-direction: column;
    gap: 24px;
  }
  img {
    width: 100%;
    aspect-ratio: 1.53 / 1;
  }
  .card__info {
    padding: 0 32px 32px;
    width: 100%;
  }
  .card__info-description {
    height: 20px;
    -webkit-line-clamp: 1;
  }
}
.card.type-2 {
  .card-cover {
    flex-direction: row;
  }
  img {
    width: 140px;
    aspect-ratio: 1.34 / 1;
  }
  .card__info {
    max-width: 100%;
    flex: 1 0 0%;
    padding: 24px;
    gap: 20px;
  }
  .card__info-description {
    height: 20px;
    -webkit-line-clamp: 1;
  }
}
.card.type-4 {
  .card__info {
    padding: 32px;
  }
  .card__info-description {
    height: 40px;
    -webkit-line-clamp: 2;
  }
}
@media(min-width: 810px) {
  .card-family {
    margin: -8px -8px 0;
    width: calc(100% + 16px);
  }

  .card {
    height: 336px;
    padding: 0;
  }
  .card-family .card {
    height: calc(336px + 16px);
    margin-bottom: 0;
    padding: 8px;
  }
  .card__info-headline {
    gap: 10px;
    height: 100px;
  }
  .card.type-1 {
    flex: 66.666666666% 0 0;
    .card-cover {
      flex-direction: row;
      gap: 0;
    }
    img {
      width: 246px;
      height: 100%;
      aspect-ratio: unset;
      contain: unset;
    }
    .card__info-headline {
      height: 248px;
    }
    .card__info {
      max-width: 100%;
      flex: 1 0 0%;
      padding: 28px 24px 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .card__info-description {
      height: 60px;
      -webkit-line-clamp: 3;
    }
  }
  .card.type-2,
  .card.type-3 {
    flex: 33.333333333% 0 0;
    .card-cover {
      flex-direction: column;
      gap: 16px;
    }
    img {
      width: 100%;
      height: 160px;
      aspect-ratio: unset;
      contain: unset;
    }
    .card__info {
      max-width: 100%;
      flex: unset;
      padding: 0 24px 24px;
      gap: 24px;
    }
    .card__info-description {
      height: 20px;
      -webkit-line-clamp: 1;
    }
  }
  .card.type-4 {
    flex: 33.333333333% 0 0;
    .card__info {
      padding: 24px;
    }
    .card__info-headline {
      height: 255px;
    }
    .card__info-description {
      height: 60px;
      -webkit-line-clamp: 3;
    }
  }
  .card.type-1, .card.type-2, .card.type-3, .card.type-4 {
    .card-cover {
      height: 336px;
    }
  }
}

/* [list card]---------------------------------------------------------- */
.list-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  padding: 20px;
  background-color: var(--main-white);
  border: 1px solid var(--gray-300);
  .eyebrow {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--gray-500);
    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
  }
  .context {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .title, .description {
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: var(--main-black);
  }
  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: var(--gray-700);
  }
}
.list-card.card-sm {
  width: 246px;
  height: 122px;
  box-shadow: var(--shadow-sm);
}
.list-card.card-lg {
  width: 100%;
  max-width: 343px;
  background-color: var(--gray-50);
  padding: 24px;
  display: flex;
  gap: 16px;
  border: none;
  .eyebrow {
    justify-content: space-between;
    .from {
      display: flex;
      gap: 6px;
      align-items: center;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 8px;
      button {
        width: max-content;
        padding: 0;
        min-width: unset;
        background-color: transparent;
        color: var(--gray-700);
      }
    }
    .divide {
      margin: 0;
      width: 1px;
      height: 10px;
      border-right: solid 1px var(--gray-300);
    }
  }
  .context {
    gap: 8px;
  }
  .title {
    display: block;
    -webkit-line-clamp: 1;
  }
  .description {
    -webkit-line-clamp: 2;
    height: 40px;
  }
  .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--gray-500);
  }
}


@media (min-width: 810px) {
  .list-card.card-sm {
    height: 142px;
  }
  .list-card.card-lg {
    width: 470px;
    max-width: unset;
    .eyebrow { 
      margin-bottom: 8px;
    }
    .title { 
      font-size: 18px;
      line-height: 1.4;
    }
  }
}

.chat-card-family {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.chat-card {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid var(--gray-300);
  background-color: var(--main-white);
  .chat-card__img {
    width: 64px;
    height: 64px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-50);
    img, svg {
      width: 32px;
      height: 32px;
    }
  }
  .chat-card__content {
    width: 100%;
    max-width: 100%;
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .chat-card__content-cover {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    .chat-card__content-title {
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.6;
      letter-spacing: -0.02em;
      color: var(--main-black);
    }
    .chat-card__content-description { 
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.02em;
      color: var(--gray-700);
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      height: 20px;
      -webkit-line-clamp: 1;
    }
    .chat-card__content-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .chat-card__content-owner {
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.02em;
        color: var(--gray-500);
      }
      .chat-card__content-buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
      }
    }
  }
}
@media (min-width: 810px) {
  .chat-card-family {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .chat-card {
    max-width: 377px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--gray-50);
      cursor: url("../../../assets/icons/menu/hover_pointer.svg") 16 15, auto;
    }
    .chat-card__img {
      width: 72px;
      height: 72px;
      img, svg {
        width: 40px;
        height: 40px;
      }
    }
    .chat-card__content {
      gap: 24px;
      .chat-card__content-cover {
        .chat-card__content-title {
          font-size: 18px;
          line-height: 1.4;
        }
      }
    }
    button, button[type="button"] {
      cursor: inherit;
    }
    button:focus, button[type="button"]:focus {
      cursor: url("../../../assets/icons/menu/focus_pointer.svg") 16 15, auto !important;
    }
  }
}


/* [text card]---------------------------------------------------------------- */
.text-card-family {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.text-card {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--gray-300);
  background-color: var(--main-white);
  .text-card__title-cover, .text-card__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
  }
  .text-card__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: var(--main-black);   
    width: 100%;
    max-width: 100%;
    flex: 1 0 0%;
    -webkit-line-clamp: 1;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .text-card__info {
    gap: 2px;
  }
  .text-card__info-date {
    color: var(--gray-500);
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
  }
  .text-card__info-button {
    width: 24px;
    height: 24px;
    img, svg {
      width: 24px;
      height: 24px;
    }
  }
  .text-card__description {
    color: var(--gray-700);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    -webkit-line-clamp: 2;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
@media (min-width: 810px) {
  .text-card {
    gap: 16px;
  }
}