.list-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  padding: 20px;
  background-color: var(--main-white);
  border: 1px solid var(--gray-300);
  .eyebrow {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--gray-500);
    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
  }
  .context {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .title, .description {
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: var(--main-black);
  }
  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: var(--gray-700);
  }
}
.list-card.card-sm {
  width: 246px;
  height: 142px;
  box-shadow: var(--shadow-sm);
}