/* jumbotron */
.luxia-jumbotron-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  &.displayNone {
    display: none;
  }
}
.luxia-jumbotron-container__title {
  font-family: var(--jumbotron-font);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
.luxia-jumbotron-container__description {
  color: var(--gray-700);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

@media (min-width: 1024px) {
  .luxia-jumbotron-container__title  {
    font-size: 48px;
  }
}

/* title */
.title-style {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--main-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  img, svg {
    width: 24px;
    height: 24px;
  }
} 
.text-box {
  min-height: 40px;
  width: max-content;
  max-width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: solid 1px var(--gray-300);
  background-color: var(--main-white);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--gray-700);
}
.para-box {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--gray-50);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02em;
  color: var(--main-black);
}
