.select-overlay-family {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 20px 16px;
  border-radius: 12px;
  border: solid 1px var(--gray-300);
  background-color: var(--main-white);
  box-shadow: var(--shadow-sm);
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 10;
  &.active {
    display: flex;
  }
  .divide {
    width:100%;
    height: 1px;
    border-bottom: solid 1px var(--gray-100);
  }
}
.select-overlay {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 156px;
  .select-overlay-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    label {
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -0.02em;
      color: var(--main-black);
    }
  }
  .select-overlay-info {
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--gray-500);
  }
}

.tooltip {
  display: none;
  position: absolute;
  max-width: max-content;
  height: 48px;
  border-radius: 8px;
  border: solid 1px var(--gray-300);
  background-color: var(--main-white);
  padding: 12px 16px;
  gap: 10px;
  z-index: 10;
  &.active {
    display: flex;
  }
  &:after {
    content: "";
    width: 40px;
    height: 8px;
    position: absolute;
    right: 0;
    top: -7px;
    background-image: url('data:image/svg+xml,<svg width="40" height="8" viewBox="0 0 40 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26 7.19995L21.4142 2.61416C20.6332 1.83312 19.3668 1.83312 18.5858 2.61417L14 7.19995" stroke="%23E4E6EA"/><path d="M19.2929 2.70711C19.6834 2.31658 20.3166 2.31658 20.7071 2.70711L26 8L14 8L19.2929 2.70711Z" fill="white"/></svg>');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.top-left:after {
    top: unset;
    left: unset;
    right: 0;
    bottom: -7px;
    transform: rotateZ(180deg);
  }
  &.top-right:after {
    top: unset;
    right: unset;
    left: 0;
    bottom: -7px;
    transform: rotateZ(180deg);
  }
  &.bottom-left:after {
    bottom: unset;
    left: unset;
    right: 0;
    top: -7px;
  }
  &.bottom-right:after {
    bottom: unset;
    right: unset;
    left: 0;
    top: -7px;
  }
  .divide {
    width: 1px;
    height: 10px;
    border-right: solid 1px var(--gray-300);
  }
  .icon-btns, .text-btns {
    display: flex;
    gap: 8px;
    align-items: center;
    width: max-content;
  }
  .icon-btns button {
    width: 20px;
    height: 20px;
    padding: 0;
    min-width: unset;
    svg, img {
      min-width: 20px;
      height: 20px;
    }
  }
  .text-btns button {
    width: auto;
    padding: 0;
    min-width: unset;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--gray-700);
  }
}

/* popup side */
.popup-side {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  &.open {
    display: block;
  }
  .overlay-dimm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-black);
    opacity: 0.7;
  }
}
.popup-side__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 24px;
  border-right: 1px solid var(--gray-300);
  overflow-y: auto;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s ease-in;
  .times {
    position: sticky;
    top: 0;
    width: 48px;
    height: 48px;
    min-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    z-index: 5;
  }
}
.popup-side.open .popup-side__inner {
  opacity: 1;
}
.popup-side__cover {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .popup-headline {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 16px;
  }
  .popup-title {
    display: flex;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: var(--main-black);
    img, svg {
      width: 24px;
      height: 24px;
    }
  }
  .popup-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: var(--gray-700);    
  }
  .popup-divide {
    width: 100%;
    height: 1px;
    border-bottom: solid 1px var(--gray-300);
  }
}

@media (min-width: 810px) {
  .popup-side__inner {
    left: unset;
    width: 550px;
    opacity: 1;
    transform: translateX(100%);
    will-change: transform;
    transition: transform 0.3s ease-in;
    padding: 40px;
    gap: 40px;
  }
  .popup-side.open .popup-side__inner {
    opacity: 1;
    transform: translateX(0%);
  }
  .popup-side__cover {
    .popup-description {
      width: 454px;
    }
  }
}
