.checkbox, .radio {
  /* 기본 스타일 제거 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox-list-family {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .checkbox-family {
    width: 100%;
    align-items: start;
    font-size: 15px;
    gap: 8px;
    position: relative;
    label {
      padding-top: 5px;
    }
  }
  .checkbox-family__more {
    width: 24px;
    height: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
  }
  .checkbox-family-all {
    width: 100%;
    padding: 12px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 8px;
    align-items: center;
    background-color: var(--gray-50);
    color: var(--main-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }
  .checkbox-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 12px;
  }
}
@media (min-width: 810px) {
  .checkbox-list-family {
    .checkbox-family-all {
      padding: 16px;
    }
    .checkbox-list {
      padding: 0 16px;
    }
  }
}

.checkbox-family {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--main-black);
}
.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.3335 8.125L7.19196 11.3333L13.3335 4" stroke="%23E4E6EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.checkbox:checked {
  background-color: var(--primary-500);
  border-color: var(--primary-500);
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.3335 8.125L7.19196 11.3333L13.3335 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.checkbox:checked::after {
  content: '';
}
.checkbox:disabled {
  cursor: not-allowed;
  background-color: var(--gray-50);
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.3335 8.125L7.19196 11.3333L13.3335 4" stroke="%23E4E6EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.radio {
  width: 40px;
  height: 24px;
  border-radius: 999px;
  padding: 2px;
  border: none;
  background-color: var(--gray-200);
  transition: background-color 0.2s ease;
  will-change: background-color;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background-color: var(--main-white);
    box-shadow: var(--shadow-xs);
    transition: left 0.2s ease;
    will-change: left;
  }
}
.radio:checked {
  background-color: var(--primary-500);
  &::after {
    left: 18px;
  }
}
.radio-family {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--main-black);
}
.radio-list-family {
  height: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
select.select::-ms-expand { 
	display: none;
}
.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  min-width: 96px;
  padding: 0 12px;
  border-radius: 12px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 10L12 14L16 10" stroke="%23010101" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: right 12px center;
  background-color: var(--main-white);
  border: solid 1px var(--gray-300);
  /* color: var(--gray-500); */
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  &:focus {
    outline: solid 1px var(--main-black);
  }
  &:required:invalid {
    color: var(--gray-500);
  }
  option {
    color: var(--main-black);
  }
}
.select.input-lg {
  height: 56px;
  min-width: 200px;
  padding: 0 16px 0 20px;
  background-size: 32px 32px;
  background-position: right 16px center;
}
.select.input-sm {
  height: 48px;
  min-width: 96px;
  padding: 0 12px;
  background-size: 24px 24px;
  background-position: right 12px center;
}