<header class="luxia-gnb-container">
  <div class="luxia-gnb-container__head">
    <div class="luxia-gnb-container__head-title">
      <div class="luxia-gnb-container__head-button">
        <button class="luxia-gnb-container__button" type="button">
          <img src="assets/icons/menu/menu.svg" />
        </button>
      </div>
      <div class="luxia-gnb-container__head-logo">
        <img src="assets/icons/logo.svg" />
        <span>Ask LUXIA</span>
      </div>
    </div>
    <!--/* [D] menu name */-->
    <div class="luxia-gnb-container-menu-name">Today’s Pick</div>
  </div>
  <div id="luxiaGnbPopupBtn" class="luxia-gnb-container__profile">
    <!--/* [D] member profile image */-->
    <img class="luxia-gnb-container__profile-image" src="assets/icons/default_profile.svg" />
    <!--/* [D] member nickname */-->
    <span class="luxia-gnb-container__profile-nickname">루시아님</span>
  </div>
  <!-- [GNB popup menu] -->
  <div id="luxiaGnbPopupMenu" class="luxia-gnb-container__popup">
    <div class="luxia-gnb-container__popup-profile">
      <!--/* [D] member profile image */-->
      <img class="luxia-gnb-container__popup-image" src="assets/icons/default_profile.svg" />
      <div class="luxia-gnb-container__popup-info">
        <!--/* [D] member nickname */-->
        <div class="luxia-gnb-container__popup-info-name">루시아님</div>
        <div class="luxia-gnb-container__popup-info-part">Admin</div>
      </div>
    </div>
    <div class="luxia-gnb-container__popup-divide"></div>
    <ul class="luxia-gnb-container__popup-menu">
      <li>
        <a href="#" class="luxia-gnb-container__popup-menu-target">
          <img src="assets/icons/gnb/profile.svg" />
          <span>My Profile</span>
        </a>
      </li>
      <li>
        <a href="#" class="luxia-gnb-container__popup-menu-target">
          <img src="assets/icons/gnb/setting.svg" />
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="#" class="luxia-gnb-container__popup-menu-target">
          <img src="assets/icons/gnb/card.svg" />
          <span>Billing Plan</span>
          <label class="color-badge badge-fixed">4</label>
        </a>
      </li>
    </ul>
    <div class="luxia-gnb-container__popup-divide"></div>
    <ul class="luxia-gnb-container__popup-menu">
      <li>
        <a href="#" class="luxia-gnb-container__popup-menu-target">
          <img src="assets/icons/gnb/money.svg" />
          <span>Pricing</span>
        </a>
      </li>
      <li>
        <a href="#" class="luxia-gnb-container__popup-menu-target">
          <img src="assets/icons/gnb/faq.svg" />
          <span>FAQ</span>
        </a>
      </li>
      <li>
        <a href="#" class="luxia-gnb-container__popup-menu-target">
          <img src="assets/icons/gnb/logout.svg" />
          <span>Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</header>
