<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LUXIA</title>
    <base href="../" />
    <link rel="icon" type="image/svg+xml" href="assets/icons/logo.svg" />
    <link rel="stylesheet" href="src/css/common/style.css" />
    <link rel="stylesheet" href="src/css/guide/components.css" />
  </head>
  <body>
    <div class="guide__container">
      <!-- [header]---------------------------------------------------------------------- -->
      <header class="guide__header">
        <div class="guide__header-inner">
          <div class="title-cover">
            <img src="assets/icons/logo.svg" />
            <span class="title">Components Guide</span>
          </div>
          <a class="guide__header-link" href="/">
            <span>IA 바로가기</span>
            <img src="assets/icons/chevron-right.svg" />
          </a>
        </div>
      </header>
      <div class="guide__container-cover">
        <!-- [menu]---------------------------------------------------------------------- -->
        <div class="guide__container-menu">
          <div class="guide__container-menu-set">
            <div class="guide__container-menu-title">Getting Started</div>
            <ul>
              <li data-target="#Introduction" class="jsViewGuide active">Introduction</li>
            </ul>
          </div>
          <div class="guide__container-menu-set">
            <div class="guide__container-menu-title">Layout</div>
            <ul>
              <li data-target="#Layout" class="jsViewGuide">Layout</li>
              <li data-target="#GNB" class="jsViewGuide">GNB</li>
              <li data-target="#Menu" class="jsViewGuide">Menu</li>
            </ul>
          </div>
          <div class="guide__container-menu-set">
            <div class="guide__container-menu-title">Text</div>
            <ul>
              <li data-target="#Jumbotron" class="jsViewGuide">Jumbotron</li>
              <li data-target="#Text" class="jsViewGuide">Text</li>
            </ul>
          </div>
          <div class="guide__container-menu-set">
            <div class="guide__container-menu-title">Components</div>
            <ul>
              <li data-target="#Badge" class="jsViewGuide">Badge</li>
              <li data-target="#Tab" class="jsViewGuide">Tab</li>
              <li data-target="#Button" class="jsViewGuide">Button</li>
              <li data-target="#Card" class="jsViewGuide">Card</li>
              <li data-target="#Input" class="jsViewGuide">Input</li>
              <li data-target="#Selection" class="jsViewGuide">Selection</li>
              <li data-target="#Overlays" class="jsViewGuide">Overlays</li>
            </ul>
          </div>
        </div>
        <!-- [Introduction]---------------------------------------------------------------------- -->
        <section id="Introduction" class="guide__container-section active">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Introduction</h1>
            <h3 class="guide__container-title">Getting Started</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
  ...
  <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
  ...
  <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Layout]---------------------------------------------------------------------- -->
        <section id="Layout" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Layout</h1>
            <h3 class="guide__container-title">Layout</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
  ...
  <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
  ...
  <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [GNB]---------------------------------------------------------------------- -->
        <section id="GNB" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">GNB</h1>
            <h3 class="guide__container-title">Layout</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
  ...
  <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
  ...
  <span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Menu]---------------------------------------------------------------------- -->
        <section id="Menu" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Menu</h1>
            <h3 class="guide__container-title">Layout</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Jumbotron]---------------------------------------------------------------------- -->
        <section id="Jumbotron" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Jumbotron</h1>
            <h3 class="guide__container-title">Text</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Text]---------------------------------------------------------------------- -->
        <section id="Text" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Text</h1>
            <h3 class="guide__container-title">Text</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Badge]---------------------------------------------------------------------- -->
        <section id="Badge" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Badge</h1>
            <h3 class="guide__container-title">Components</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>badge</h3>
            </div>
            <div class="code-family">
              <div class="code-family__info">view</div>
              <label class="badge">1</label>
              <label class="badge">10</label>
              <br />
              <label class="badge badge-fixed">1</label>
              <label class="badge badge-fixed">10</label>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs">
<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"badge"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"badge"</span>&gt;</span>10<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"badge badge-fixed"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"badge badge-fixed"</span>&gt;</span>10<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>

</code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>두 자리수를 위한 너비로 고정하려면 <b>badge-fixed</b> class를 추가한다.</li>
              </ol>
            </div>
          </div>

          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>color badge</h3>
            </div>
            <div class="code-family">
              <div class="code-family__info">view</div>
              <label class="color-badge">1</label>
              <label class="color-badge">10</label>
              <br />
              <label class="color-badge badge-fixed">1</label>
              <label class="color-badge badge-fixed">10</label>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"color-badge"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"color-badge"</span>&gt;</span>10<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"color-badge badge-fixed"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"color-badge badge-fixed"</span>&gt;</span>10<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>두 자리수를 위한 너비로 고정하려면 <b>badge-fixed</b> class를 추가한다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Tab]---------------------------------------------------------------------- -->
        <section id="Tab" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Tab</h1>
            <h3 class="guide__container-title">Components</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Button]---------------------------------------------------------------------- -->
        <section id="Button" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Button</h1>
            <h3 class="guide__container-title">Components</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>button</h3>
              <div class="guide__container-family__description">
                button의 기본 스타일 가이드 입니다. button은 button 크기와 button 스타일 class를 삽입합니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">view</div>
              <!--code import -->
              <button type="button" class="btn btn-sm btn-primary">sm</button>
              <button type="button" class="btn btn-md btn-primary">md</button>
              <button type="button" class="btn btn-lg btn-primary">lg</button>
            </div>

            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-sm btn-primary"</span>&gt;</span>sm<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-primary"</span>&gt;</span>md<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-lg btn-primary"</span>&gt;</span>lg<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>기본적으로 <b>btn</b> class를 삽입합니다.</li>
                <li>버튼의 사이즈는 <b>btn-sm</b>, <b>btn-md</b>, <b>btn-lg</b> class를 삽입하여 조절합니다.</li>
              </ol>
            </div>

            <div class="code-family">
              <div class="code-family__info">view</div>
              <!--code import -->
              <button type="button" class="btn btn-md btn-primary">primary</button>
              <button type="button" class="btn btn-md btn-secondary">secondary</button>
              <button type="button" class="btn btn-md btn-tertiary">tertiary</button>
              <button type="button" class="btn btn-md btn-cancel">cancel</button>
            </div>

            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-primary"</span>&gt;</span>primary<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-secondary"</span>&gt;</span>secondary<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-tertiary"</span>&gt;</span>tertiary<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-cancel"</span>&gt;</span>cancel<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>
                  버튼의 스타일 및 사용성에 맞게 <b>btn-primary</b>, <b>btn-secondary</b>, <b>btn-tertiary</b>,
                  <b>btn-cancel</b> class를 삽입합니다.
                </li>
              </ol>
            </div>

            <div class="code-family">
              <div class="code-family__info">view</div>
              <!--code import -->
              <button type="button" class="btn btn-md btn-primary btn-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17.6568 6.34314C14.5327 3.21895 9.46734 3.21895 6.34315 6.34315C3.21895 9.46732 3.21895 14.5326 6.34315 17.6568C9.46732 20.781 14.5326 20.781 17.6568 17.6568C20.781 14.5327 20.781 9.46734 17.6568 6.34314ZM4.92893 4.92893C8.83418 1.02369 15.1658 1.02369 19.071 4.92894C22.9763 8.83418 22.9763 15.1658 19.071 19.071C15.1658 22.9763 8.83416 22.9763 4.92893 19.071C1.02369 15.1658 1.02369 8.83416 4.92893 4.92893ZM9.17158 13.4142L9.87868 14.1213C11.0502 15.2929 12.9497 15.2929 14.1213 14.1213L14.8284 13.4142L16.2426 14.8284L15.5355 15.5355C13.5829 17.4882 10.4171 17.4882 8.46446 15.5355L7.75736 14.8284L9.17158 13.4142Z"
                    fill="white"
                  />
                  <path
                    d="M10.5 9.5C10.5 10.3284 9.94035 11 9.25 11C8.55964 11 8 10.3284 8 9.5C8 8.67157 8.55964 8 9.25 8C9.94035 8 10.5 8.67157 10.5 9.5Z"
                    fill="white"
                  />
                  <path
                    d="M16 9.5C16 10.3284 15.4404 11 14.75 11C14.0596 11 13.5 10.3284 13.5 9.5C13.5 8.67157 14.0596 8 14.75 8C15.4404 8 16 8.67157 16 9.5Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button type="button" class="btn btn-md btn-secondary btn-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17.6568 6.34314C14.5327 3.21895 9.46734 3.21895 6.34315 6.34315C3.21895 9.46732 3.21895 14.5326 6.34315 17.6568C9.46732 20.781 14.5326 20.781 17.6568 17.6568C20.781 14.5327 20.781 9.46734 17.6568 6.34314ZM4.92893 4.92893C8.83418 1.02369 15.1658 1.02369 19.071 4.92894C22.9763 8.83418 22.9763 15.1658 19.071 19.071C15.1658 22.9763 8.83416 22.9763 4.92893 19.071C1.02369 15.1658 1.02369 8.83416 4.92893 4.92893ZM9.17158 13.4142L9.87868 14.1213C11.0502 15.2929 12.9497 15.2929 14.1213 14.1213L14.8284 13.4142L16.2426 14.8284L15.5355 15.5355C13.5829 17.4882 10.4171 17.4882 8.46446 15.5355L7.75736 14.8284L9.17158 13.4142Z"
                    fill="#010101"
                  />
                  <path
                    d="M10.5 9.5C10.5 10.3284 9.94035 11 9.25 11C8.55964 11 8 10.3284 8 9.5C8 8.67157 8.55964 8 9.25 8C9.94035 8 10.5 8.67157 10.5 9.5Z"
                    fill="#010101"
                  />
                  <path
                    d="M16 9.5C16 10.3284 15.4404 11 14.75 11C14.0596 11 13.5 10.3284 13.5 9.5C13.5 8.67157 14.0596 8 14.75 8C15.4404 8 16 8.67157 16 9.5Z"
                    fill="#010101"
                  />
                </svg>
              </button>
              <button type="button" class="btn btn-md btn-tertiary btn-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17.6568 6.34314C14.5327 3.21895 9.46734 3.21895 6.34315 6.34315C3.21895 9.46732 3.21895 14.5326 6.34315 17.6568C9.46732 20.781 14.5326 20.781 17.6568 17.6568C20.781 14.5327 20.781 9.46734 17.6568 6.34314ZM4.92893 4.92893C8.83418 1.02369 15.1658 1.02369 19.071 4.92894C22.9763 8.83418 22.9763 15.1658 19.071 19.071C15.1658 22.9763 8.83416 22.9763 4.92893 19.071C1.02369 15.1658 1.02369 8.83416 4.92893 4.92893ZM9.17158 13.4142L9.87868 14.1213C11.0502 15.2929 12.9497 15.2929 14.1213 14.1213L14.8284 13.4142L16.2426 14.8284L15.5355 15.5355C13.5829 17.4882 10.4171 17.4882 8.46446 15.5355L7.75736 14.8284L9.17158 13.4142Z"
                    fill="#010101"
                  />
                  <path
                    d="M10.5 9.5C10.5 10.3284 9.94035 11 9.25 11C8.55964 11 8 10.3284 8 9.5C8 8.67157 8.55964 8 9.25 8C9.94035 8 10.5 8.67157 10.5 9.5Z"
                    fill="#010101"
                  />
                  <path
                    d="M16 9.5C16 10.3284 15.4404 11 14.75 11C14.0596 11 13.5 10.3284 13.5 9.5C13.5 8.67157 14.0596 8 14.75 8C15.4404 8 16 8.67157 16 9.5Z"
                    fill="#010101"
                  />
                </svg>
              </button>
            </div>

            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-primary btn-icon"</span>&gt;</span>icon markup<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-secondary btn-icon"</span>&gt;</span>icon markup<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-tertiary btn-icon"</span>&gt;</span>icon markup<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>아이콘만 사용하는 버튼은 <b>btn-icon</b> class를 삽입합니다.</li>
                <li>아이콘 버튼도 사이즈, 스타일 class를 넣어 스타일을 조정할 수 있습니다.</li>
              </ol>
            </div>
            <div class="code-family">
              <div class="code-family__info">view</div>
              <!--code import -->
              <button type="button" class="btn btn-md btn-lg-pc btn-primary">mo: md, pc: lg</button>
              <button type="button" class="btn btn-md btn-sm-pc btn-primary">mo: md, pc: sm</button>
              <button type="button" class="btn btn-md btn-primary">mo: md, pc: md</button>
            </div>

            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-lg-pc btn-primary"</span>&gt;</span>mo: md, pc: lg<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-sm-pc btn-primary"</span>&gt;</span>mo: md, pc: sm<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-md btn-primary"</span>&gt;</span>mo: md, pc: md<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>
                  모바일 버전과 pc 버전의 버튼 사이즈를 다르게 하고 싶다면 <b>btn-사이즈-pc</b> class를 삽입하면 됩니다.
                </li>
                <li>위 예시 버튼들은 810이하 사이즈에서 모두 btn-md 사이즈와 같습니다.</li>
              </ol>
            </div>
          </div>

          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>text button</h3>
              <div class="guide__container-family__description">
                text 또는 text와 아이콘을 함께 사용하는 button style입니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">view</div>
              <!--code import -->
              <button type="button" class="btn btn-lg btn-text">text</button>
              <button type="button" class="btn btn-sm btn-text">text</button>

              <button type="button" class="btn btn-lg btn-text">
                <span>text</span>
                <img src="assets/icons/note.svg" />
              </button>
              <button type="button" class="btn btn-sm btn-text">
                <span>text</span>
                <img src="assets/icons/note.svg" />
              </button>
            </div>

            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-comment">&lt;!-- text button --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-lg btn-text"</span>&gt;</span>text<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-sm btn-text"</span>&gt;</span>text<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>

<span class="hljs-comment">&lt;!-- icon과 함께 --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-lg btn-text"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>text<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">""</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-sm btn-text"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>text<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">""</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
              </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>text button의 사이즈는 <b>btn-lg</b>, <b>btn-sm</b> 두가지 class로 조정합니다.</li>
                <li>
                  span tag 안에 text를 넣고 Icon과 함께 사용할 수 있습니다. icon은 img, svg 두가지만 사용 가능합니다.
                </li>
              </ol>
            </div>
          </div>

          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>download button</h3>
              <div class="guide__container-family__description">
                다양한 아이콘을 사용하여 download 버튼 같이 text와 event 버튼을 함께 노출할 수 있습니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">view</div>
              <!--code import -->
              <div class="btn btn-download">
                <div class="text">
                  <img src="assets/icons/clip.svg" />
                  <span>downloadfile.txt</span>
                </div>
                <!-- 닫기 버튼 -->
                <button class="times">
                  <img src="assets/icons/times.svg" />
                </button>
              </div>
            </div>

            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-download"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"assets/icons/clip.svg"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>downloadfile.txt<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- 닫기 버튼 --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"times"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"assets/icons/times.svg"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
            </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li>
                  <b>btn-download</b> class 안 <b>times</b> class를 가진 button을 클릭 시 버튼이 사라집니다. (app.js)
                </li>
                <li>
                  download 버튼은 btn-download 안의 다양한 Element들에 click event가 발생할 수 있으므로 div를 상위
                  html로 마크업 할 것을 추천드립니다.
                </li>
              </ol>
            </div>
          </div>

          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>send button, pause button</h3>
            </div>
            <div class="code-family">
              <div class="code-family__info">view</div>
              <!--code import -->
              <button type="button" class="btn btn-send">
                <span class="blind">send button</span>
              </button>

              <button type="button" class="btn btn-pause">
                <span class="blind">pause button</span>
              </button>
            </div>

            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-send"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"blind"</span>&gt;</span>send button<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-pause"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"blind"</span>&gt;</span>pause button<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
            </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>btn-send</b>와 <b>btn-pause</b> class를 넣어 각각의 버튼을 만들 수 있습니다.</li>
                <li>
                  아이콘은 이미 style에 삽입되어 button 태그 안에 아무 것도 넣을 필요는 없지만 각각의 버튼 표시를 위해
                  <b>blind</b> class를 삽입한 span 태그로 각 버튼을 설명할 수 있습니다.
                </li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Card]---------------------------------------------------------------------- -->
        <section id="Card" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Card</h1>
            <h3 class="guide__container-title">Components</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Input]---------------------------------------------------------------------- -->
        <section id="Input" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Input</h1>
            <h3 class="guide__container-title">Components</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Selection]---------------------------------------------------------------------- -->
        <section id="Selection" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Selection</h1>
            <h3 class="guide__container-title">Components</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>

        <!-- [Overlays]---------------------------------------------------------------------- -->
        <section id="Overlays" class="guide__container-section">
          <div class="guide__container-jumbotron-cover">
            <h1 class="guide__container-jumbotron">Overlays</h1>
            <h3 class="guide__container-title">Components</h3>
          </div>
          <div class="guide__container-family">
            <div class="guide__container-family__headline">
              <h3>css, js include</h3>
              <div class="guide__container-family__description">
                src/scc/common dir에 있는 <b>style.css</b>와 src/js/common dir에 있는 <b>app.js</b>를 html 파일에
                포함시켜줍니다.
              </div>
            </div>
            <div class="code-family">
              <div class="code-family__info">example</div>
              <!--code import -->
              <pre><code class="hljs xml">
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"src/css/common/style.css"</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
...
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"src/js/common/app.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
      </code></pre>
            </div>
            <div class="code-family">
              <ol>
                <li><b>style.css</b>에는 모든 components의 style이 import되어 있습니다.</li>
                <li><b>app.js</b>에는 모든 components의 인터렉션와 모션이 구현되어 있습니다.</li>
              </ol>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="guide__container-mo">
      모바일 버전에서는 가이드를 지원하지 않습니다. <br />
      PC에서 만나요!
    </div>
    <script src="src/js/common/app.js"></script>
    <script src="src/js/guide/components.js"></script>
  </body>
</html>
