<div class="luxia-menu-container">
  <div class="luxia-menu-container__dimm"></div>
  <div class="luxia-menu-container__inner">
    <div class="luxia-menu-container__head">
      <div class="luxia-menu-container__head-button">
        <button class="luxia-menu-container__button" type="button">
          <img src="assets/icons/menu/menu.svg" />
        </button>
      </div>
      <div class="luxia-menu-container__head-logo">
        <img src="assets/icons/logo.svg" />
        <span>Ask LUXIA</span>
      </div>
      <div class="luxia-menu-container__head-button-pc">
        <button type="button" class="luxia-menu-container__button-pc">
          <img class="luxia-menu-container__head-button-close" src="assets/icons/menu/arrow_in.svg" />
          <img class="luxia-menu-container__head-button-open" src="assets/icons/menu/arrow_out.svg" />
        </button>
      </div>
    </div>
    <div class="luxia-menu-container__cover">
      <!-- [Main menu]---------------------------------------------------------------------------------------------- -->
      <ul class="luxia-menu-container__menu">
        <!--/* [D] Main menu list */-->
        <li>
          <a href="index.html" class="luxia-menu-container__menu-target">
            <img src="assets/icons/menu/home.svg" />
            <span>Ask Home</span>
          </a>
        </li>
        <li>
          <a href="pages/todays_pick.html" class="luxia-menu-container__menu-target">
            <img src="assets/icons/menu/today.svg" />
            <span>Today's Pick</span>
          </a>
        </li>
        <li>
          <a href="pages/luxia_chat.html" class="luxia-menu-container__menu-target">
            <img src="assets/icons/menu/chat.svg" />
            <span>LUXIA Chat</span>
          </a>
        </li>
        <li>
          <a href="pages/luxia_docs.html" class="luxia-menu-container__menu-target">
            <img src="assets/icons/menu/docs.svg" />
            <span>LUXIA Docs</span>
          </a>
        </li>
        <li>
          <a href="pages/luxia_generate.html" class="luxia-menu-container__menu-target">
            <img src="assets/icons/menu/generate.svg" />
            <span>LUXIA Generate</span>
          </a>
        </li>
        <li>
          <a href="pages/custom_chat/custom_chat.html" class="luxia-menu-container__menu-target">
            <img src="assets/icons/menu/setting.svg" />
            <span>Custom chat 탐색</span>
          </a>
        </li>
      </ul>
      <!-- [Custom chat menu]--------------------------------------------------------------------------------------- -->
      <div class="luxia-menu-container__sub">
        <div class="luxia-menu-container__sub-title">
          <div class="luxia-menu-container__sub-title-name">
            <object data="assets/icons/menu/bubble_chat.svg" type="image/svg+xml"></object>
            <span>Custom chat</span>
          </div>
          <a href="#" class="luxia-menu-container__sub-title-more"> 더보기 </a>
        </div>
        <!--/* [D] Custom chat menu list */-->
        <ul class="luxia-menu-container__sub-menu">
          <li>
            <a href="" class="luxia-menu-container__sub-menu-target">
              <span>메뉴얼 안내</span>
            </a>
          </li>
          <li>
            <a href="" class="luxia-menu-container__sub-menu-target">
              <span>상담내용 요약</span>
            </a>
          </li>
          <li>
            <a href="" class="luxia-menu-container__sub-menu-target">
              <span>답변 문구 생성</span>
            </a>
          </li>
          <li>
            <a href="" class="luxia-menu-container__sub-menu-target">
              <span>텍스트 번역</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- [Recents Article menu]----------------------------------------------------------------------------------- -->
      <div class="luxia-menu-container__sub">
        <div class="luxia-menu-container__sub-title">
          <div class="luxia-menu-container__sub-title-name">
            <object data="assets/icons/menu/edit_pencil.svg" type="image/svg+xml"></object>
            <span>Recents</span>
          </div>
          <a href="pages/recents.html" class="luxia-menu-container__sub-title-more"> 더보기 </a>
        </div>
        <ul class="luxia-menu-container__sub-menu">
          <!--/* [D] Recents Articles menu list */-->
          <li>
            <a href="" class="luxia-menu-container__sub-menu-target">
              <span>심사평가원, 2024년도 선별짐중사항목 공개</span>
            </a>
          </li>
          <li>
            <a href="" class="luxia-menu-container__sub-menu-target">
              <span>금투세 폐지에 따른</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
