.luxia-ask-home-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}


@media(min-width: 810px) {
  .luxia-ask-home-container {
    margin: -8px -8px 0;
    width: calc(100% + 16px);
  }
}